body {
  background-color: #3B444B;
  width: 150px;
  font-family: Verdana,sans-serif;
  line-height: 1.5;
}

#titlediv {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 42px;
  background: #202327;
  float: left;
}

#title {
  margin-top: 3px;
  margin-left: 3px;
  color: #E52B50;
}

.gems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 45px;
  width: 100%;
  height: 100%;
}

.gem {
  background: #327986;
  border-left: 6px solid;
  width: 100%;
  height: 35px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  transition-duration: 0.5s;
  float: left;
}

.gem h4 {
  display: block;
  font-size: 0.8em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 3px;
  margin-inline-end: 03px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gem:hover {
  border-color: #21E49C;
}

.buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  width: 80px;
  height: 30px;
  margin: 5px;
  font-size: 1em;
  float: left;
}

button:hover {
  background: #7c5fab;
  transition: all 0.5s ease;
}
